dev/ui.html
<!DOCTYPE html>
<html class="no-js" lang="uk">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Екологічна мапа / Головна</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link href="assets/css/master.css" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  </head>
  
  <body>
      <!-- Loader-->
      <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
      <!-- Loader end-->
    <div class="page-wrapper l-theme" id="main-content">
      <div class="page-inner">
          <header class="header header_inner-page">
            <div class="header__inner">
              <div class="header-top">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="header__gov d-none d-lg-inline-block"><a class="gov-logo gov-logo-dark" id="modalGovLabel" data-toggle="modal" href="#modalGov">
                          <div class="icon-flag">
                            <div class="yellow"></div>
                            <div class="blue"></div>
                          </div>
                          <div class="wrap-text"><span class="one">gov.ua</span><span class="light">Державні сайти України</span></div></a></div>
                      <div class="header-logo d-lg-none">
                        <div class="header-logo__item"><a class="header-logo__link" href="#"><img class="img-fluid" src="assets/media/general/logo-region.png" alt="Герб"></a></div>
                      </div>
                        <ul class="soc-link list-inline d-none d-lg-block">
                          <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-facebook-square"></i></a></li>
                          <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-twitter"></i></a></li>
                        </ul>
                        <!-- end .b-soc-link-->
                      <div class="header-top__title-mobile">Екологічна мапа</div>
                      <div class="header-top__inner">
                        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключити навігацію"><svg class="ic" width="30" height="30"><use xlink:href="../svg-symbols.svg#menu"></use></svg>
                        </button>
                        <form class="header-search d-none d-lg-inline-block">
                          <input class="header-search__input" type="text" placeholder="Пошук">
                          <button class="header-search__btn"><svg class="ic" width="24" height="24"><use xlink:href="../svg-symbols.svg#search"></use></svg>
                          </button>
                        </form>
                        <div class="header-language dropdown d-none d-lg-inline-block"><a class="header-language__link" id="dropdownLanguage" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><svg class="ic" width="30" height="30"><use xlink:href="../svg-symbols.svg#language"></use></svg></a>
                          <div class="header-language__body dropdown-menu" aria-labelledby="dropdownLanguage"><a class="header-language__item" href="#"><img class="header-language__flag" src="assets/media/general/flag-ua.png" alt="Українська"><span class="header-language__name">Українська</span></a><a class="header-language__item" href="#"><img class="header-language__flag" src="assets/media/general/flag-en.png" alt="English"><span class="header-language__name">English</span></a></div>
                          <!-- end .header-language-->
                          
                        </div><a class="header__accessibility" data-toggle="collapse" href="#wcag-panel" role="button" aria-expanded="false"><svg class="ic" width="40" height="40"><use xlink:href="../svg-symbols.svg#hide"></use></svg></a>
                        <div class="header-user dropdown d-none d-lg-inline-block"><a class="header-user__link dropdown-toggle" id="dropdownUser" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><svg class="ic" width="30" height="30"><use xlink:href="../svg-symbols.svg#user-big"></use></svg>Вхід</a>
                          <div class="header-user__body dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
                            <div class="header-user__content">
                              <div class="header-user__links">
                                <div class="header-user__links-item"><a class="header-user__links-nav" href="#">Вхiд</a></div>
                                <div class="header-user__links-item"><a class="header-user__links-nav" href="#">Реєстрація</a></div>
                              </div>
                            </div>
                          </div>
                          <!-- end .header-user-->
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end .header-top-->
              
                <div class="container">
                  <form class="wcag-panel collapse fade" id="wcag-panel" name="wcagPanel">
                    <div class="wcag-panel__wrapper">
                      <div class="wcag-panel__row">
                        <!-- Скрытая ссылка перехода к содержанию страницы, появляющаяся только при навигации с клавиатуры-->
                        <div class="wcag-panel__hidden-control"><a class="wcag-panel__default-link" id="anchor-link" href="#main-content" aria-label="Перейти до основної інформації">Перейти до основної інформації</a></div><div>
                        <div class="wcag-panel__col d-none d-xl-inline-block">
                          <label class="wcag-panel__switcher-label">Масштаб шрифта</label>
                          <div class="wcag-panel__switcher"><input type="radio" checked="" name="fontsize" value="normal" id="fontsize-normal">
                            <label class="wcag-panel__switcher-btn" aria-label="нормальний розмір шрифта" for="fontsize-normal">100%</label><input type="radio" name="fontsize" value="big" id="fontsize-big">
                            <label class="wcag-panel__switcher-btn" aria-label="середній розмір шрифта" for="fontsize-big">150%</label><input type="radio" name="fontsize" value="large" id="fontsize-large">
                            <label class="wcag-panel__switcher-btn" aria-label="великий розмір шрифта" for="fontsize-large">200%</label>
                          </div>
                        </div>
                        <div class="wcag-panel__col">
                          <label class="wcag-panel__switcher-label">Колір</label><div>
<input type="radio" name="color" checked="" value="default" id="color-default">
                          <label class="wcag-panel__flag-button flag-button flag-button_white" for="color-default" aria-label="стандартна кольорова схема">Стандартний</label><input type="radio" name="color" value="white" id="color-white">
                          <label class="wcag-panel__flag-button flag-button flag-button_white" for="color-white" aria-label="біла кольорова схема">Білий</label><input type="radio" name="color" value="black" id="color-black">
                          <label class="wcag-panel__flag-button flag-button flag-button_black" for="color-black" aria-label="черна кольрова схема">Чорний</label><input type="radio" name="color" value="blue" id="color-blue">
                          <label class="wcag-panel__flag-button flag-button flag-button_blue" for="color-blue" aria-label="блакитна кольорова схема">Блакитний</label></div>
                        </div>
                        <div class="wcag-panel__col">
                          <label class="wcag-panel__switcher-label">Зображення</label>
                          <div class="wcag-panel__switcher"><input type="radio" checked="" name="images" value="on" id="images-on">
                            <label class="wcag-panel__switcher-btn" aria-label="Зображення включені" for="images-on">Вкл</label><input type="radio" name="images" value="off" id="images-off">
                            <label class="wcag-panel__switcher-btn" aria-label="Зображення виключені" for="images-off">Викл</label>
                          </div>
                        </div></div>
                      </div>
                    </div>
                    <div class="wcag-panel__wrapper">
                      <div class="wcag-panel__row">
                        <div class="wcag-panel__col">
                          <label class="wcag-panel__switcher-label">Інтервал між літерами</label>
                          <div class="wcag-panel__switcher wcag-panel__switcher_double"><input type="radio" name="kerning" value="normal" checked="" id="kerning-normal">
                            <label class="wcag-panel__switcher-btn" aria-label="звичайний міжбуквенний інтервал" for="kerning-normal">Звичайний</label><input type="radio" name="kerning" value="big" id="kerning-big">
                            <label class="wcag-panel__switcher-btn" aria-label="збільшений міжбуквенний інтервал" for="kerning-big">Збільшений</label>
                          </div>
                        </div>
                        <div class="wcag-panel__col">
                          <div class="wcag-panel__switcher wcag-panel__reset">
                            <button class="wcag-panel__switcher-btn" aria-label="Повернути стандартні настройки" data-wcag-panel="reset-config">Звичайна версія</button>
                          </div>
                        </div>
                        <div class="wcag-panel__col wcag-panel__col_cont-link"><a class="wcag-panel__default-link" href="#" aria-label="закрити панель" data-toggle="collapse" data-target="#wcag-panel">Закрити панель</a></div>
                      </div>
                    </div>
                  </form>
                  <!-- end .wcag-panel-->
                </div>
                
              <div class="header-main">
                <div class="collapse navbar-collapse d-lg-block" id="navbarSupportedContent">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="header-main__inner">
                          <div class="row align-items-end">
                            <div class="col-xl-5 col-lg">
                              <div class="header__gov d-lg-none"><a class="gov-logo gov-logo-dark" id="modalGovLabel" data-toggle="modal" href="#modalGov">
                                  <div class="icon-flag">
                                    <div class="yellow"></div>
                                    <div class="blue"></div>
                                  </div>
                                  <div class="wrap-text"><span class="one">gov.ua</span><span class="light">Державні сайти України</span></div></a></div>
                              <div class="header-title">
                                <div class="header-title__item"><a class="header-title__link" href="#"><img class="img-fluid" src="assets/media/general/logo-region.png" alt="Герб"></a>
                                  <div class="header-title__inner">
                                    <div class="header-title__main">Екологічна мапа</div>
                                    <div class="header-title__subtitle">Луганської обласної військово-цивільної адміністрації</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-7 col-lg-auto">
                              <nav class="header-nav navbar navbar-expand-lg">
                                  <ul class="main-menu navbar-nav">
                                    <li class="main-menu__item nav-item active"><a class="main-menu__link nav-link" href="#">Головна<span class="sr-only">(поточна)</span></a></li>
                                    <li class="main-menu__item nav-item"><a class="main-menu__link nav-link" href="#">Залишити<br>зверення</a></li>
                                    <li class="main-menu__item nav-item"><a class="main-menu__link nav-link" href="#">Перевірити<br>виконання</a></li>
                                    <li class="main-menu__item nav-item"><a class="main-menu__link nav-link" href="#">Заповідні<br>зони</a></li>
                                    <li class="main-menu__item nav-item"><a class="main-menu__link nav-link" href="#">Екошари<br>даних</a></li>
                                    <li class="main-menu__item nav-item"><a class="main-menu__link nav-link" href="#">Про проект</a></li>
                                    <li class="main-menu__item nav-item"><a class="main-menu__link nav-link" href="#">Контакти</a></li>
                                  </ul>
                                  <!-- end navig-->
                              </nav>
                            </div>
                            <div class="col-12 d-lg-none">
                              <form class="header-search">
                                <input class="header-search__input" type="text" placeholder="Пошук">
                                <button class="header-search__btn"><svg class="ic" width="24" height="24"><use xlink:href="../svg-symbols.svg#search"></use></svg>
                                </button>
                              </form>
                              <div class="header-language dropdown"><a class="header-language__link" id="dropdownLanguageMob" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><svg class="ic" width="30" height="30"><use xlink:href="../svg-symbols.svg#language"></use></svg></a>
                                <div class="header-language__body dropdown-menu" aria-labelledby="dropdownLanguageMob"><a class="header-language__item" href="#"><img class="header-language__flag" src="assets/media/general/flag-ua.png" alt="Українська"><span class="header-language__name">Українська</span></a><a class="header-language__item" href="#"><img class="header-language__flag" src="assets/media/general/flag-en.png" alt="English"><span class="header-language__name">English</span></a></div>
                                <!-- end .header-language-->
                                
                              </div>
                              <div class="header-user dropdown"><a class="header-user__link dropdown-toggle" id="dropdownUserMob" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false"><svg class="ic" width="30" height="30"><use xlink:href="../svg-symbols.svg#user-big"></use></svg>Рева О. О.</a>
                                <div class="header-user__body dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserMob">
                                  <div class="header-user__content">
                                    <div class="header-user__links">
                                      <div class="header-user__links-item"><a class="header-user__links-nav" href="#">Вхiд</a></div>
                                      <div class="header-user__links-item"><a class="header-user__links-nav" href="#">Реєстрація</a></div>
                                    </div>
                                  </div>
                                </div>
                                <!-- end .header-user-->
                                
                              </div>
                                <ul class="soc-link list-inline">
                                  <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-facebook-square"></i></a></li>
                                  <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-twitter"></i></a></li>
                                </ul>
                                <!-- end .b-soc-link-->
                            </div>
                            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Закрити навігацію"><svg class="ic" width="30" height="30"><use xlink:href="../svg-symbols.svg#close"></use></svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end .header-->
            
          </header>
          <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Головна</a></li>
                <li class="breadcrumb-item active" aria-current="page">Про проект</li>
              </ol>
            </nav>
          </div>
          <!-- end .breadcrumb-->
          
        <main class="l-main-content">
          <div class="container">
            <form class="needs-validation" novalidate>
              <div class="ui-check-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input class="custom-control-input" id="appealCheckEmail" type="checkbox" checked>
                  <label class="custom-control-label" for="appealCheckEmail">На електронну адресу</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input class="custom-control-input" id="appealCheckPost" type="checkbox">
                  <label class="custom-control-label" for="appealCheckPost">На поштову адресу</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input class="custom-control-input" id="appealCheckTel" type="checkbox">
                  <label class="custom-control-label" for="appealCheckTel">По телефону</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" id="customRadio1" type="radio" name="customRadio" checked>
                <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" id="customRadio2" type="radio" name="customRadio">
                <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
              </div>
              <div class="form-group">
                <div class="ui-input">
                  <label class="ui-input__label" for="appealName"><span class="ui-input__label-content">Прізвище Ім’я По Батькові</span></label>
                  <input class="ui-input__field form-control js-input" id="appealName" type="text" required>
                  <div class="invalid-feedback">Поле не заповненне</div>
                </div>
              </div>
              <h2>Альтернативный инпут, без скрипта</h2>
              <!-- добавляем .ui-input_no-js и удаляем .js-input-->
              <div class="form-group">
                <div class="ui-input ui-input_no-js">
                  <label class="ui-input__label" for="appealName2"><span class="ui-input__label-content">Прізвище Ім’я По Батькові</span></label>
                  <input class="ui-input__field form-control" id="appealName2" type="text" required>
                  <div class="invalid-feedback">Поле не заповненне</div>
                </div>
              </div>
              <div class="form-group">
                <select class="selectpicker" data-width="100%" title="Оберіть місто" multiple data-max-options="1" data-style="ui-select">
                  <option value="">Місто</option>
                  <option value="">Місто</option>
                  <option value="">Місто</option>
                </select>
              </div>
              <div class="form-group">
                <div class="ui-input ui-input_r-4">
                  <label class="ui-input__label" for="treatmentText"><span class="ui-input__label-content">Опис</span></label>
                  <textarea class="ui-input__field form-control js-input" id="treatmentText" required></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <div class="input-group date bg-light align-items-center no-gutters">
                    <div class="ui-input col">
                      <label class="ui-input__label" for="searchMapFirstDate"><span class="ui-input__label-content">З якого періоду</span></label>
                      <input class="ui-input__field form-control js-input" id="searchMapFirstDate" type="text" autocomplete="off">
                      <div class="invalid-feedback">Поле не заповненне</div>
                    </div><span class="input-group-addon col-auto pl-3 pr-3"><svg class="ic" width="30" height="30"><use xlink:href="../svg-symbols.svg#calendar"></use></svg></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="ui-upload js-upload row">
                    <div class="col-auto">
                      <button class="ui-upload__btn btn btn-default js-upload-btn" type="button">Додайте фото</button>
                    </div>
                    <div class="ui-upload__note col">Додайте фото.<br> Максимальний розмір файлу — 5 Мб</div>
                  </div>
                </div>
                <div class="js-upload-container"></div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Додати</button>
              </div>
            </form>
          </div>
        </main>
      </div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="footer-main">
                  <div class="footer-logo"><span class="footer-logo__item"><a class="footer-logo__link" href="#"><img class="ic img-fluid" src="assets/media/general/logo-region.png" alt="Герб"></a></span></div>
                  <div class="footer__title">Екологічна мапа</div>
                  <div class="footer__subtitle">Луганської обласної військово-<br>цивільної адміністрації</div><a class="footer__btn btn" href="#">Зворотній зв'язок</a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="footer-section">
                  <div class="footer-section__title">Меню</div>
                  <ul class="footer-list list-unstyled">
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Версія для мобільних пристроїв</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">FAQ</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Корисні посилання</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <div class="footer-devel"><a class="footer-devel__img" href="#"><img src="assets/media/general/logo-bisoft.png" alt="«БІС-СОФТ»"></a>
                    <div class="footer-devel__text">Компанія «БІС-СОФТ»<br>Всі права захищені.</div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="footer-copyright"><svg class="ic" width="30" height="30"><use xlink:href="../svg-symbols.svg#creative-commons"></use></svg>
                    <div class="footer-copyright__info">Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня</div>
                  </div>
                </div>
                <div class="col-md-auto">
                    <ul class="soc-link list-inline">
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-facebook-square"></i></a></li>
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-twitter"></i></a></li>
                    </ul>
                    <!-- end .b-soc-link-->
                </div>
              </div>
            </div>
          </div>
        </footer>
    </div>
    <!-- Modal government-->
      <div class="modal fade" id="modalGov" tabindex="-1" role="dialog" aria-labelledby="modalGovLabel" aria-hidden="true">
        <div class="modal-dialog modalGov" role="document">
          <div class="wrap">
            <ul class="wrap-link">
              <li><a href="https://www.president.gov.ua/" target="_blank">Президент України</a></li>
              <li><a href="https://rada.gov.ua/" target="_blank"> Верховна Рада України</a></li>
            </ul>
            <ul class="wrap-link">
              <li><a href="http://www.ccu.gov.ua/" target="_blank">Конституційний суд України</a></li>
              <li><a href="http://www.rnbo.gov.ua/" target="_blank">Рада національної безпеки і оборони України</a></li>
            </ul>
            <ul class="wrap-link">
              <li><a href="index.html" target="_blank">Центральні та місцеві органи виконавчої влади</a></li>
            </ul>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <!-- end .b-modal-gov-->
      
    <!-- Modal test-->
      <div class="modal fade" id="modalTest" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="b-modal-test modal-content">
            <div class="b-modal-test__title">Завершуємо налаштування</div>
            <div class="b-modal-test__info">Ми хочемо зробити дуже зручний веб сервіс для Вас і всіх мешканців нашого міста, зовсім скоро Ви зможемо скористатися всіма його функціями.</div>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <!-- end .b-modal-test-->
      
    <script src="/assets/js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Select customization-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.7/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/i18n/defaults-ua_UA.min.js"></script>
    <!-- Pop-up window-->
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Accessibility-->
    <script src="assets/plugins/accessibility/accessibility.min.js"></script>
    <!-- Scale images-->
    <script src="assets/plugins/ofi.min.js"></script>
    <!-- Slider-->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- Input effects-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>
    <!-- File input customization-->
    <script src="assets/plugins/dropzone.js"></script>
    <!-- Datepicker-->
    <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>

markup/pages/ui.pug
extends _template.pug

block head
  head
    +head(head.home)
  |
  |

block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")

block content
  main.l-main-content

    .container
      form.needs-validation(novalidate)
        .ui-check-group
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckEmail(type="checkbox" checked)
            label.custom-control-label(for="appealCheckEmail") На електронну адресу
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckPost(type="checkbox")
            label.custom-control-label(for="appealCheckPost") На поштову адресу
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckTel(type="checkbox")
            label.custom-control-label(for="appealCheckTel") По телефону


        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input#customRadio1(type="radio" name="customRadio" checked)
          label.custom-control-label(for="customRadio1") Toggle this custom radio
        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input#customRadio2(type="radio" name="customRadio")
          label.custom-control-label(for="customRadio2") Or toggle this other custom radio

        .form-group
          .ui-input
            label.ui-input__label(for="appealName")
              span.ui-input__label-content Прізвище Ім’я По Батькові
            input.ui-input__field.form-control.js-input#appealName(type="text" required)
            .invalid-feedback Поле не заповненне

        h2 Альтернативный инпут, без скрипта
        // добавляем .ui-input_no-js и удаляем .js-input
        .form-group
          .ui-input.ui-input_no-js
            label.ui-input__label(for="appealName2")
              span.ui-input__label-content Прізвище Ім’я По Батькові
            input.ui-input__field.form-control#appealName2(type="text" required)
            .invalid-feedback Поле не заповненне

        .form-group
          select.selectpicker(data-width="100%" title="Оберіть місто" multiple data-max-options="1" data-style="ui-select")
            option(value="") Місто
            option(value="") Місто
            option(value="") Місто

        .form-group
          .ui-input.ui-input_r-4
            label.ui-input__label(for="treatmentText")
              span.ui-input__label-content Опис
            textarea.ui-input__field.form-control.js-input#treatmentText(required)

        .form-row
          .form-group.col-md-6
            .input-group.date.bg-light.align-items-center.no-gutters
              .ui-input.col
                label.ui-input__label(for="searchMapFirstDate")
                  span.ui-input__label-content З якого періоду
                input.ui-input__field.form-control.js-input#searchMapFirstDate(type="text" autocomplete="off")
                .invalid-feedback Поле не заповненне
              span.input-group-addon.col-auto.pl-3.pr-3
                != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})


          .form-group
            .ui-upload.js-upload.row
              .col-auto
                button.ui-upload__btn.btn.btn-default.js-upload-btn(type="button") Додайте фото
              .ui-upload__note.col Додайте фото.<br> Максимальний розмір файлу — 5 Мб
          .js-upload-container

        .form-group
          button.btn.btn-primary Додати

block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")


  // File input customization
  script(src="assets/plugins/dropzone.js")


  // Datepicker
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")
